.checkoutPage {
  margin-top: 220px;

  display: flex;
  flex-direction: column;
}

.checkoutPage img {
  max-width: 30vw;
  max-height: 10em;

  width: auto;
  height: auto;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 5%;
  background-color: rgb(249, 249, 249);
  padding: 2em;
  margin: 1em;
}

.checkoutPage ul {
  border-radius: 10%;
  background-color: rgb(240, 240, 240);
  padding: 1em;
}
