.navBar {
  border: 1px solid teal;
  width: 100%;
  margin: 0;

  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  justify-content: space-around;

  background-color: #d9d9d9;
}

.navBar ul {
  list-style: none;

  display: flex;
  align-items: center;
}

.navBar li {
  width: 100px;
}

.cart {
  width: 30px;
  height: auto;
  border: none;
  padding: none;
}

.checkoutBtn {
  padding: 1em;
}
