#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* make space for navbar across site */
body {
  margin-top: 40px;
}

/* category color scheme */
.mens {
  color: #49e4da;
}
.womens {
  color: #ff6e84;
}
.jewelery {
  color: #e1e449;
}
.electronics {
  color: #49e45b;
}

@media (prefers-color-scheme: light) {
  .mens {
    color: #2b8680;
  }
  .womens {
    color: #963f4c;
  }
  .jewelery {
    color: #5d5e1d;
  }
  .electronics {
    color: #2d7e35;
  }
}
