/* styles for scrolling carousel component in homepage. */
.carousel {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px;
  background-color: #eeeeee;
}

.carousel > div {
  border-radius: 10px;
  background-color: #e0e0e0;

  padding: 2em;
}

.carousel > div > img {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}
