/* NavBar Component  */
/* classes: navBar, checkoutBtn, cart, cartCount */
.navBar {
  width: 100%;
  height: 4em;
  margin: 0;

  top: 0;
  left: 0;
  position: fixed;

  display: flex;
  justify-content: flex-end;
  background-color: #252525;

  z-index: 2;

  border-bottom: solid 3px #ddaf50;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  list-style: none;
}

.navBar button {
  max-height: 40px;

  display: flex;
  gap: 5px;
}

.navBar img {
  height: 20px;
}

/* mobile view hamburger menu button icon */
.navBar button.hamburgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar div.hamburgerContainer {
  width: 18px;
  height: 18px;

  /* correcting for vertical offset */
  transform: translateY(-5%);

  display: grid;
  gap: 3px;
}
.navBar div.hamburger {
  background-color: #ddaf50;
  border-radius: 2px;
}

@media (prefers-color-scheme: light) {
  .navBar {
    background-color: #e0e0e0;
  }
}
