/* styles for product card component. */
div.card > div.container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

div.card {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background-color: #707070;
  overflow: hidden;

  padding: 0;
}

div.card h1 {
  color: white;
  font-size: 18px;

  margin: 0;
  padding: 0;
}

div.card > div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  max-height: 60%;
}
